<style>
  .navbar {
    background-color: #921111 !important;
  }

  .nav-link {
    color: white !important;
    text-transform: uppercase;
  }

  .material-symbols-outlined {
    color: white;
  }

  .navbar-toggler {
    border-color: white;
  }
</style>

<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0&icon_names=menu" />

<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img
        src="https://s3-alpha-sig.figma.com/img/724f/3ad7/bca6eaaf962a53c99b1e38c318cc79f9?Expires=1732492800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Ba68S47oAdZJxVSfA3GMdZRr~OGawHbO~BAqjRx~PHei6OgkRUVvKtPr1eEp04b3ZlJnovJElJY37duAZPjXS-HyWoNAT7O0GjN0uK-ODf7pFqftIlK-Q07FkN-ah6U1hCDJxSeCTbpFY2~QCbNJSSmrSib4E6hdjlpv~rd8xdS0I15g7zRDN2fgZ4M2pPx0ipu-T1r~f7AU7yz-Gd0PfOnAGEnVG9bXPDit-7EnLu7AW4zPxllCySYihnHIhlPEXlXpj3v501j-tg~86fUyV33QIqP4pVGeKFgOzYv7pTpWYd~28xvOtfKa8e1QFn0Dxeq3kqaYm66clOkiyO49-g__"
        height="90rem" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="material-symbols-outlined">
        menu
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto p-2 w-100 justify-content-between">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Tentang kami</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Destinasi Wisata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Paket Wisata</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Galeri</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ulasan Wisatawan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kontak</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Info dan Pemesanan</a>
        </li>
      </ul>
    </div>
  </div>
</nav>